/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: var(--facile-black);
    z-index: 1;
}

.page-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .30;
    mix-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.page-header__inner {
    position: relative;
    display: block;
    padding: 100px 0 100px;
/*    padding: 160px 0 167px;*/
    z-index: 1;
    text-align: center;
}

.page-header__inner h3 {
    font-size: 65px;
    color: var(--facile-white);
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 15px;
}

.thm-breadcrumb__inner {
    position: relative;
    display: block;
}

.thm-breadcrumb {
    position: relative;
    display: block;
}

.thm-breadcrumb li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: var(--facile-white);
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li+li {
    margin-left: 5px;
}

.thm-breadcrumb li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--facile-white);
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li:hover a {
    color: var(--facile-base);
    opacity: 1;
}

.thm-breadcrumb li span {
    font-size: 12px;
    color: var(--facile-base);
}



.cus-bg-mission{
    background-color: #efefef;
}